body {
	
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
	font-family: 'Arial', sans-serif;
}

.card {
	border: none;
	border-radius: 10px;
}

.icon {
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	color: #007bff;
}

.form-control {
	padding-left: 2.5rem;
	border-radius: 50px;
}

.btn {
	border-radius: 50px;
}

.text-primary {
	color: #007bff !important;
}

.text-primary:hover {
	text-decoration: underline;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
	box-shadow: none;
	border-color: #007bff;
}
